@charset "utf-8"; 

/* bloomcity-N1 [xklVN6JLQm] */
.bloomcity-N1 { z-index: 5000; position: sticky; top: 0; min-height: auto; width: 100%; background-color: var(--white); }
.bloomcity-N1 .header-container { position: relative; display: flex; align-items: center; justify-content: space-between; width: 100%; height: 8rem; padding: 0 8rem; z-index: 200; }
.bloomcity-N1 .header-title { margin-bottom: 0; }
.bloomcity-N1 .header-title a { width: 15.7rem; height: 3.9rem; }
.bloomcity-N1 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.bloomcity-N1 .header-center { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.bloomcity-N1 .header-member { display: none; }
.bloomcity-N1 .header-gnblist { display: flex; justify-content: center; }
.bloomcity-N1 .header-gnblink { padding: 2.7rem 3rem; font-size: var(--fs-p1); font-family: var(--ff-en); font-weight: 600; text-align: center; white-space: nowrap; }
.bloomcity-N1 .header-gnblink span { position: relative; }
.bloomcity-N1 .header-gnblink span::after { content: ""; height: 0.2rem; width: 100%; transition: 0.3s; transform: scaleX(0); }
.bloomcity-N1 .header-sublist { min-height: 0; position: absolute; top: 100%; transition: 0.3s; opacity: 0; overflow: hidden; pointer-events: none; }
.bloomcity-N1 .header-gnbitem:hover .header-sublist { min-height: auto; opacity: 1; overflow: hidden; pointer-events: auto; }
.bloomcity-N1 .header-gnbitem:hover .header-gnblink span::after { content: ""; display: inline-block; position: absolute; left: 0; top: 100%; background-color: var(--body-color); transform: scaleX(1); }
.bloomcity-N1 .header-subitem { width: 14rem; background-color: var(--white); overflow: hidden; }
.bloomcity-N1 .header-sublink { width: 100%; padding: 1rem 2rem; font-size: var(--fs-p2); font-weight: 500; }
.bloomcity-N1 .header-sublink:hover { background-color: var(--body-color); color: var(--text-color5); }
.bloomcity-N1 .header-right { display: flex; align-items: center; }
.bloomcity-N1 .header-lang { position: relative; font-size: var(--fs-p2); }
.bloomcity-N1 .header-langbtn { padding: 1.2rem 2rem 1.2rem 0.8rem; position: relative; border: none; background: none; font-weight: 500; }
.bloomcity-N1 .header-langbtn::after { content: ""; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1.6rem; height: 1.6rem; background: url("../../resources/icons/ico_downarrow_black.svg") no-repeat top right/cover; }
.bloomcity-N1 .header-langlist { position: absolute; top: 100%; left: 0; z-index: 200; background-color: var(--body-color); }
.bloomcity-N1 .header-langitem { max-height: 0; transition: all 0.5s; overflow: hidden; }
.bloomcity-N1 .header-langitem a { padding: 0.8rem 1.6rem; color: var(--text-color5); }
.bloomcity-N1 .header-lang:hover .header-langbtn::after { transform: translateY(-50%) rotate(180deg); -webkit-transform: translateY(-50%) rotate(180deg); -moz-transform: translateY(-50%) rotate(180deg); -ms-transform: translateY(-50%) rotate(180deg); -o-transform: translateY(-50%) rotate(180deg); }
.bloomcity-N1 .header-lang:hover .header-langitem { max-height: 6.8rem; }
.bloomcity-N1 .header-utils { display: flex; align-items: center; }
.bloomcity-N1 .header-utils button:not(.btn-calendar) { margin-left: 4rem; width: 3.2rem; height: 3.2rem; background: none; border: none; }
.bloomcity-N1 .header-utils button:not(.btn-calendar) img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.bloomcity-N1 .btn-calendar { display: flex; justify-content: center; align-items: center; width: 18rem; height: 5.6rem; font-size: var(--fs-p2); font-weight: 500; font-family: var(--ff-ko); color: var(--text-color5); background-color: var(--primary); border: 0 none; transition: all 0.1s; -webkit-transition: all 0.1s; -moz-transition: all 0.1s; -ms-transition: all 0.1s; -o-transition: all 0.1s; }
.bloomcity-N1 .btn-calendar .btn-icon { display: inline-block; margin-right: 1rem; width: 3.2rem; height: 3.2rem; padding: 0.3rem 0.4rem; }
.bloomcity-N1 .btn-calendar .btn-icon img { width: 100%; height: 100%; object-fit: cover; }
.bloomcity-N1 .btn-momenu { display: none; }
.bloomcity-N1 .btn-moclose { display: none; }
.bloomcity-N1 .header-fullmenu { position: fixed; z-index: 99999; padding: 0 2.4rem; background-color: var(--white); transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; }
.bloomcity-N1 .header-fullmenu .header-fullmenu { position: relative; }
.bloomcity-N1 .header-fullmenu.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.bloomcity-N1 .header-fullmenu.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.bloomcity-N1 .header-fullmenu.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.bloomcity-N1 .header-fullmenu.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.bloomcity-N1 .header-fullmenu.fullmenu-active { overflow-y: auto; width: 100%; height: 100vh; opacity: 1; visibility: visible; }
.bloomcity-N1 .header-fullmenu.fullmenu-active .header-sublist { position: static; opacity: 1; color: rgba(var(--black-rgb), 0.6); pointer-events: auto; }
.bloomcity-N1 .header-fullmenu.fullmenu-active .header-sublist .header-sublink { padding: 0.5rem 0; font-size: var(--fs-p1); font-weight: 400; }
.bloomcity-N1 .header-fullmenu.fullmenu-active .header-sublink:hover { font-weight: 500; color: var(--text-color1); background-color: transparent; }
.bloomcity-N1 .fullmenu-wrapper { position: relative; top: 8rem; width: 100%; max-width: 128rem; margin: 0 auto; }
.bloomcity-N1 .fullmenu-head { z-index: 10; position: sticky; top: 0; display: flex; justify-content: space-between; align-items: center; margin-bottom: 10rem; width: 100%; height: 5rem; background-color: var(--white); }
.bloomcity-N1 .fullmenu-title { margin-bottom: 0; }
.bloomcity-N1 .fullmenu-title a { width: 15.7rem; height: 3.9rem; }
.bloomcity-N1 .fullmenu-title img { width: 100%; height: 100%; object-fit: cover; }
.bloomcity-N1 .fullmenu-member { display: flex; }
.bloomcity-N1 .fullmenu-member li { position: relative; }
.bloomcity-N1 .fullmenu-member li a { padding: 1.2rem; font-size: var(--fs-p1); font-weight: 500; color: var(--text-color1); }
.bloomcity-N1 .fullmenu-member li+li::after { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(var(--black-rgb), 0.2); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.bloomcity-N1 .fullmenu-gnblist { display: flex; justify-content: flex-start; flex-wrap: wrap; }
.bloomcity-N1 .fullmenu-gnblist .header-sublist { margin-top: 3.4rem; }
.bloomcity-N1 .fullmenu-gnbitem { margin-right: 7.8125%; margin-bottom: 7rem; min-width: calc(calc(100% / 4) - 7.8125%); }
.bloomcity-N1 .fullmenu-gnbitem .fullmenu-sublist { position: static; }
.bloomcity-N1 .fullmenu-gnblink { position: relative; width: 100%; padding-bottom: 4rem; font-size: var(--fs-h5); font-weight: 500; color: var(--text-color1); border-bottom: 1px solid rgba(var(--black-rgb), 0.2); }
.bloomcity-N1 .fullmenu-gnblink::after { content: ""; position: absolute; left: 0; bottom: 0; display: block; width: 0; height: 0.1rem; background-color: var(--text-color1); transition: 0.2s; }
.bloomcity-N1 .fullmenu-gnblink.on::after { width: 100%; }
.bloomcity-N1 .fullmenu-sublist { padding-top: 4rem; }
.bloomcity-N1 .fullmenu-subitem+.fullmenu-subitem { padding-top: 0.8rem; }
.bloomcity-N1 .fullmenu-sublink { font-size: var(--fs-p2); font-weight: 400; color: #a2a2a2; }
.bloomcity-N1 .fullmenu-close { position: fixed; right: 8rem; top: 2.4rem; width: 3.2rem; height: 3.2rem; background-color: transparent; border: none; }
.bloomcity-N1 .fullmenu-close img { width: 100%; height: 100%; object-fit: cover; }
@media (max-width: 1600px) {
 .bloomcity-N1 .header-utils button:not(.btn-calendar) { margin-left: 1rem; }
 .bloomcity-N1 .btn-calendar { display: block; padding: 0; width: 3.4rem; height: 3.4rem; background-color: transparent; transition: all 0.1s; -webkit-transition: all 0.1s; -moz-transition: all 0.1s; -ms-transition: all 0.1s; -o-transition: all 0.1s; }
 .bloomcity-N1 .btn-calendar span { overflow: hidden; display: block; width: 0; height: 0; font-size: 1px; }
 .bloomcity-N1 .btn-calendar .btn-icon { filter: invert(100%); -webkit-filter: invert(100%); }
}
@media (max-width: 1366px) {
 .bloomcity-N1 .header-container { padding: 0 2.4rem; }
 .bloomcity-N1 .fullmenu-gnbitem { margin-right: 7.8125%; margin-bottom: 8rem; min-width: calc(calc(100% / 3) - 7.8125%); }
 .bloomcity-N1 .header-gnblink { padding: 2.7rem 2rem; }
 .bloomcity-N1 .fullmenu-close { right: 3rem; }
}
@media (max-width: 1024px) {
 .bloomcity-N1 .header-title a { width: 12.3rem; height: 3.1rem; }
 .bloomcity-N1 .fullmenu-close { right: 2rem; }
}
@media (max-width: 992px) {
 .bloomcity-N1 .header-container { padding: 0 2.4rem; height: 6rem; }
 .bloomcity-N1 .header-title a { width: 12.3rem; height: 3.1rem; }
 .bloomcity-N1 .header-center { height: calc(100vh - 6rem); overflow-y: auto; }
 .bloomcity-N1 .header-gnblist { display: none; width: 100%; flex-direction: column; }
 .bloomcity-N1 .header-gnblink { display: flex; align-items: flex-end; width: 100%; padding: 2rem 0; text-align: left; }
 .bloomcity-N1 .header-gnbitem:hover .header-gnblink span { border: none; }
 .bloomcity-N1 .header-gnbitem:hover .header-gnblink span::after { content: none; }
 .bloomcity-N1 .header-sublist { display: none; position: relative; opacity: 1; padding: 2rem 0 2rem 0; }
 .bloomcity-N1 .header-gnbitem.item-active .header-gnblink { border-bottom: 1px solid var(--line-color3); }
 .bloomcity-N1 .header-gnbitem.item-active .header-sublist { display: block; }
 .bloomcity-N1 .header-subitem { width: 100%; }
 .bloomcity-N1 .header-subitem+.header-subitem { padding-top: 0.4rem; }
 .bloomcity-N1 .header-sublink { padding: 0; font-size: var(--fs-p1); color: var(--text-color3); }
 .bloomcity-N1 .header-sublink:active { color: var(--text-color1); }
 .bloomcity-N1 .header-sublink:hover { background-color: var(--white); color: var(--text-color1); }
 .bloomcity-N1 .header-lang:hover .header-langitem { max-height: 0; }
 .bloomcity-N1 .header-lang.lang-active .header-langitem { max-height: 6.8rem; }
 .bloomcity-N1 .header-lang:hover .header-langbtn::after { transform: translateY(-50%) rotate(0); }
 .bloomcity-N1 .header-lang.lang-active .header-langbtn::after { transform: translateY(-50%) rotate(180deg); }
 .bloomcity-N1 .header-utils .btn-moclose { margin-left: 1rem; padding: 0.4rem; }
 .bloomcity-N1 .header-utils .btn-allmenu { display: none; }
 .bloomcity-N1 .header-utils .btn-momenu { display: block; }
 .bloomcity-N1.block-active .header-center { position: absolute; left: 0; transform: translateX(0); top: 100%; width: 100%; padding: 0 2.4rem; padding-bottom: 19rem; overflow-y: auto; background-color: var(--white); }
 .bloomcity-N1.block-active .header-title { height: 6rem; display: flex; align-items: center; }
 .bloomcity-N1.block-active .header-lang { display: none; }
 .bloomcity-N1.block-active .header-member { width: 100%; margin: 4rem 0 2rem 0; }
 .bloomcity-N1.block-active .header-member a { padding: 0; background: none; border: none; padding-right: 1.2rem; }
 .bloomcity-N1.block-active .header-member a+a { padding-left: 1.2rem; padding-right: 0; }
 .bloomcity-N1.block-active .header-gnblist { display: block; height: 100%; }
 .bloomcity-N1.block-active .header-gnblink { align-items: center; justify-content: space-between; border-bottom: 1px solid var(--line-color1); font-size: var(--fs-h5); font-weight: 400; }
 .bloomcity-N1.block-active .header-gnblink::after { content: ""; display: flex; width: 1.6rem; height: 1.6rem; background-image: url("../../resources/icons/ico_downarrow_black.svg"); background-repeat: no-repeat; background-position: center right; background-size: cover; }
 .bloomcity-N1.block-active .header-gnbitem.item-active .header-gnblink::after { content: ""; transform: rotate(180deg); }
 .bloomcity-N1.block-active .header-member { display: flex; }
 .bloomcity-N1.block-active .header-lang { display: none; }
 .bloomcity-N1.block-active .btn-calendar { display: none; }
 .bloomcity-N1.block-active .btn-moclose { display: block; }
 .bloomcity-N1.block-active .btn-momenu { display: none; }
 .bloomcity-N1 .header-fullmenu { display: none; }
}

/* bloomcity-N2 [JLlvn6JN1i] */
.bloomcity-N2 { background-color: #333; }
.bloomcity-N2 .footer-wrapper { padding: 1.6rem 2.4rem; }
.bloomcity-N2 .footer-wrapper+.footer-wrapper { padding: 2rem 2.4rem; border-top: 1px solid rgba(var(--white-rgb), 0.1); }
.bloomcity-N2 .footer-container { display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 128rem; margin: 0 auto; }
.bloomcity-N2 .footer-logo { margin-bottom: 0; }
.bloomcity-N2 .footer-logo a { width: 14rem; height: 3.5rem; }
.bloomcity-N2 .footer-logo img { width: 100%; height: 100%; object-fit: cover; }
.bloomcity-N2 .footer-menulist { display: flex; align-items: center; justify-content: center; font-size: var(--fs-p2); }
.bloomcity-N2 .footer-menuitem a { color: #fff; padding-right: 1.2rem; }
.bloomcity-N2 .footer-menuitem+.footer-menuitem a { padding-left: 1.2rem; }
.bloomcity-N2 .footer-menuitem { position: relative; }
.bloomcity-N2 .footer-menuitem+.footer-menuitem::after { content: ""; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.4rem; background-color: rgba(var(--white-rgb), 0.1); }
.bloomcity-N2 .footer-snslist { display: flex; align-items: center; }
.bloomcity-N2 .footer-snsitem+.footer-snsitem { margin-left: 0.8rem; }
.bloomcity-N2 .footer-snslink { width: 3.6rem; height: 3.6rem; padding: 0.6rem; }
.bloomcity-N2 .footer-snslink img { width: 100%; height: 100%; object-fit: cover; }
.bloomcity-N2 .selectset { max-width: 18rem; height: 4rem; }
.bloomcity-N2 .footer-txtgroup { margin-top: 1.9rem; }
.bloomcity-N2 .footer-txt { display: flex; color: var(--text-color3); font-size: var(--fs-p4); }
.bloomcity-N2 .footer-txt p { margin-bottom: 0; }
.bloomcity-N2 .footer-txt p+p { margin-left: 0.8rem; }
.bloomcity-N2 .footer-txt p span+span { margin-left: 0.8rem; }
.bloomcity-N2 .selectset .selectset-toggle::after { filter: invert(100%); }
.bloomcity-N2 .selectset .selectset-list { background-color: rgba(var(--white-rgb), 0.1); border: 0 none; }
.bloomcity-N2 .selectset .btn { font-weight: var(--ff-en); color: #aaa; }
.bloomcity-N2 .selectset .selectset-toggle { background-color: #444; border: 0 none; }
.bloomcity-N2 .selectset .selectset-toggle::after { filter: invert(50%); -webkit-filter: invert(50%); }
.bloomcity-N2 .selectset.active .btn { color: var(--text-color5); }
@media (max-width: 992px) {
 .bloomcity-N2 .footer-wrapper { padding: 4rem 0 2.4rem 0; margin: 0 2.4rem; }
 .bloomcity-N2 .footer-wrapper+.footer-wrapper { padding: 2.4rem 0 4rem 0; margin: 0 2.4rem; }
 .bloomcity-N2 .footer-container { padding: 0; flex-direction: column; align-items: flex-start; }
 .bloomcity-N2 .footer-snslist { margin-top: 0.6rem; }
 .bloomcity-N2 .footer-txtgroup { margin-top: 1.2rem; }
 .bloomcity-N2 .footer-txt { flex-direction: column; line-height: var(--lh-p2); font-size: var(--fs-p2); }
 .bloomcity-N2 .footer-txt+.footer-txt { margin-top: 0.6rem; }
 .bloomcity-N2 .footer-txt p+p { margin-left: 0; margin-top: 0.3rem; }
 .bloomcity-N2 .selectset { margin: 2.4rem 0 0; }
 .selectset.selectset-sm .btn { height: var(--lh-xl); }
}
