<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="travel.project.mapper.CustomerMapper">

    <insert id="save">
        INSERT INTO customer (customer_id,name, email, phone_number, address)
        values (#{customerId},#{name}, #{email}, #{phoneNumber}, #{address})
    </insert>






</mapper>