<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="travel.project.mapper.DestinationMapper">

	<select id="findDestByName">
		select * from Destinations where destination_name = #{destinationName}
	</select>
<!--	&#45;&#45; view_attraction은 destination_id로 join해서 가져온 attraction 테이블 + destination_name + country 가 있음-->
	<select id="findAttractionById" resultType="Attraction">
		select * from view_attractions where destination_id = #{destinationId}
	</select>
<!--	&#45;&#45; view_attraction은 destination_id로 join해서 가져온 attraction 테이블 + destination_name + country 가 있음-->
	<select id="findRestaurantsById" resultType="Restaurants">
		select * from view_restaurants where destination_id = #{destinationId}
	</select>




</mapper>